<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqz.firstproject.dao.GoodsMapper">
    <resultMap id="GoodsResultMap" type="com.qqz.firstproject.pojo.Goods">
        <result property="goods_id" column="goods_id"/>
        <result property="img_src" column="img_src"/>
    </resultMap>
    <select id="selectGoodsList" resultMap="GoodsResultMap" >
        select * from goods where used=1
    </select>
</mapper>